<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Decrypted Password</h1>
        <hr>
        <div class="row min-vh-100">
            <div class="col-md-6 offset-md-3">
                <div class="dark">
                    <div class="card-body">
                        <h5 class="card-title text-center">Password Details</h5>
                        <hr>
                        <div class="text-center">
                            <p class="card-text">Decrypted Password: <span style="display: none;" id="decrypted-password">{{ decrypted_password }}</span></p>
                            <button onclick="copyToClipboard()" class="btn btn-outline-primary btn-lg">Copy to Clipboard</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function copyToClipboard() {
            const passwordText = document.getElementById('decrypted-password').textContent;

            navigator.clipboard.writeText(passwordText)
                .then(() => {
                    // Provide visual feedback to the user
                    alert('Password copied to clipboard!');
                })
                .catch((error) => {
                    console.error('Failed to copy password to clipboard:', error);
                });
        }
    </script>
{% endblock %}

